* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main-color:#1151bb;
    --secondery-color:#395583;
    --Section-background-color:#1b2a4a;
    --dark-color:#121d35;
    --main-transtions:0.5s;
    --color-of-text:#a9c8f1;
    --Secendry-background-color:#182641;
}
body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: var(--Section-background-color);
}
    .Main-Grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;
    }
.container {
    margin: 0 auto;
    padding: 0 10px
}
/* Start  Madia */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Madia */
/* Start Download  */
    .Download {
        padding: 25px 0;
        background-color: var(--main-color);
    }
    .Download .container {
        text-align: center;
        font-size: 13px;
        color: white;
    }
    .Download .container a {
        text-decoration: underline;
        color: white;
    }
/* End Download  */
/* Start Header */
header {
        padding: 20px 0;
        position: relative;
        background-color: var(--dark-color);
    }
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    header .container .logo {
        display: flex;
    }
    header .container .logo i {
        font-size: 30px;
        color: var(--main-color);
        margin-right: 10px;
    }
    header .container .logo h3 {
        margin-bottom: 5px;
        color: white;
    }
    header .container .logo p {
        font-size: 12px;
        color: white;
    }
    header .container .list ul {
        display: flex;
        width: 500px;
        justify-content: space-between;
    }
    @media (max-width:991px) {
        header .container .list ul {
            width: fit-content;
        }
        header .container .list ul li {
            margin-left: 10px;
        }
    }
    header .container .list ul li a {
        display: block;
        color: white;
        transition: var(--main-transtions);
    }
    header .container .list ul li:hover a {
        padding-left: 10px;
    }
    form a  {
        color: white;
    }
    form input {
        margin-left: 10px;
        background-color: var(--main-color);
        padding: 10px;
        border: none;
        outline: none;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }
    @media (max-width:767px)  {
        header .container .logo {
            flex-basis: 100%;
            justify-content: center;
            padding: 10px 0;
            border-bottom: 1px solid #777;
        }
        header .container .list {
            padding-top: 10px;
            flex-basis: 65%;
            justify-content: space-between;
        }
        header .container .list ul {
            width: 100%;
            justify-content: space-between;
        }
        header .container .list ul li {
            margin-left: 0;
        }
        form {
            flex-basis: 30%;
            padding-top: 10px;
        }
    }
    @media (max-width:570px) {
        header .container .list {
            flex-basis: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #777;
        }
        form {
            padding-top: 10px;
            flex-basis: 100%;
            text-align: center;
        }
    }
/* End Header */
/* Start Location */
.Location {
        padding: 80px 0;
    }
    .Location  h1 {
        font-size: 35px;
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }
    .Location .container {
        border: 1px solid var(--main-color);
        padding: 0;
        border-radius:10px;
        overflow: hidden;
        box-shadow: 68px -36px 223px 1px var(--main-color);
    }
    .Location .container .box .Header-Of-box {
        width: 100%;
        margin-bottom: 80px;
    }
    .Location .container .box .Header-Of-box ul {
        display: flex;
        height: 70px;
    }
    .Location .container .box .Header-Of-box ul li {
        background-color: var(--secondery-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        transition: var(--main-transtions);
        color: white;
    }
    .Location .container .box .Header-Of-box ul li:hover {
        background-color: var(--main-color);
    }
    .Location .container .box .Header-Of-box ul li.active {
        background-color: var(--main-color);
    }
    .Location .container .box .Header-Of-box ul li:not(:first-child) {
        border-left: 1px solid black;
    }
    .Location .container .box form {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .Location .container .box form input[type="text"] {
        width: 60%;
        border-radius: 0;
        padding: 20px;
        background-color: white;
        color: black;
        cursor: auto;
        border: none;
        outline: none;
    }
    .Location .container .box form .icone {
        width: 15%;
        background-color: #f9d856;
        display: flex;
        padding: 20px 20px;
        cursor: pointer;
        width: fit-content;
    }
    @media (max-width:768px) {
        .Location .container .box .Header-Of-box ul li {
            font-size: 12px;
        }
    }
    @media (max-width:575px) {
        .Location .container .box .Header-Of-box {
            height: 300px;
        }
        .Location .container .box .Header-Of-box ul {
            flex-direction: column;
        }
        .Location .container .box .Header-Of-box ul li {
            padding: 20px;
            margin-bottom: 8px;
        }
    }
    .Location .container .box .Header-Of-box ul li a {
        color: white;
    }
    .Location .container .box form .icone input {
        background-color: transparent;
        padding: 0;
        color: black;
        margin-right: 10px;
        font-size: 16px;
    }
    .Location .container .Select {
        display: flex;
        margin-bottom: 80px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .Location .container .Select .text {
        flex-basis: 28%;
        padding:  20px;
    }
    .Location .container .Select .text h3 {
        margin-bottom: 20px;
        color: white;
        font-weight: normal;
        font-size: 16px;
    }
    .Location .container .Select .text h3:nth-child(3) {
        color:#f9d856 ;
        margin-bottom: 40px;
        font-weight: bolder;
    }
    .Location .container .Select .text p {
        font-size: 14px;
        color: white;
    }
    .Location .container .Select .form {
        flex-basis: 50%;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .Location .container .Select .form input {
        width: 100%;
        height: fit-content;
        padding: 10px 20px ;
        margin-bottom: 20px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    .Location .container .Select .Map {
        flex-basis: 18%;
        display: flex;
        align-items: center;
    }
    .Location .container .Select .Map button {
        height: fit-content;
        padding: 12px 8px;
        background-color: transparent;
        border: 1px solid #ececec;
        outline: none;
        transition: var(--main-transtions);
    }
    .Location .container .Select .Map button:hover {
        background-color: #39558352;
    }
    .Location .container .Select .Map button a {
        color: white;
        font-size: 15px;
    }
    .Location .container .Select .Map button a i {
        font-size: 15px;
        margin-right: 6px;
    }
    @media (max-width:768px)  {
        .Location .container .Select {
            flex-direction: column;
            text-align: center;
        }
        .Location .container .Select .text {
            flex-basis: 100%;
        }
        .Location .container .Select .form {
            flex-basis: 100%;
            justify-content: center;
        }
        .Location .container .Select .form input {
            width: 90%;
        }
        .Location .container .Select .Map {
            flex-basis: 100%;
            justify-content: center;
        }
    }
/* End Location */
/* Start Experience */
      .Experience {
        padding: 50px 0;
    }
    .Experience .container .box {
        padding-bottom: 50px;
        text-align: center;
    }
    .Experience .container .box .child-Of-box .icone i {
        margin-bottom: 20px;
        font-size: 50px;
        color: var(--main-color);
    }
    .Experience .container .box .child-Of-box .text h3 {
        color: white;
        font-weight: normal;
        font-size: 25px;
        margin-bottom: 20px;
    }
    .Experience .container .box .child-Of-box .text p {
        color: #ffffff82;
        line-height: 1.5;
    }
    .Experience .container .End-Of-Experience {
        box-shadow: 0px 0px 27px 1px var(--main-color);
        border: 1px solid var(--main-color);
        background-color: var(--Secendry-background-color);
        width: 100%;
        height: 300px;
        text-align: center;
        border-radius: 20px;
        position: relative;
    }
    .Experience .container .End-Of-Experience .text {
        padding: 0 40px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .Experience .container .End-Of-Experience .text q {
        display: block;
        padding-bottom: 20px;
        font-size: 20px;
        color: white;
    }
    .Experience .container .End-Of-Experience p {
        color: var(--color-of-text);
    }
    @media (max-width:768px) {
        .Experience .container .End-Of-Experience .text q {
            font-size: 15px;
            line-height: 1.6;
        }
    }
/* End Experience */
/* Start Featured */
        .Featured {
            padding: 50px 0;
            text-align: center;
        }
        .Featured h3 {
            font-size: 30px;
            color: white;
            margin-bottom: 30px;
        }
        .Featured .container .box .Child-Of-box {
            background-color: var(--Secendry-background-color);
            border-radius: 10px;
        }
        .Featured .container .box .Child-Of-box .imge {
            width: 100%;
            margin-bottom: 20px;
        }
        .Featured .container .box .Child-Of-box .imge img {
            width: 100%;
            border-radius: 10px 10px 0 0 ;
        }
        .Featured .container .box .Child-Of-box .text {
            padding: 0 20px;
        }
        .Featured .container .box .Child-Of-box .text a {
            display: block;
            color: white;
            font-size: 19px;
            font-weight: normal;
            margin-bottom: 20px;
        }
        .Featured .container .box .Child-Of-box .text p {
            color: var(--color-of-text);
            padding: 15px;
            line-height: 1.6;
        }
/* End Featured */
/* Start Industry */
        .Industry {
            padding: 50px 0;
        }
        .Industry .container {
            border-bottom: 1px solid white;
        }
        .Industry .container h3 {
            margin: 40px 0;
            color: white;
            font-weight: normal;
            text-align: center;
            font-size: 25px;
        }
        .Industry .container .box {
            border: 1px solid var(--main-color);
            background-color: var(--Secendry-background-color);
            padding: 15px;
            margin-bottom: 100px;
            box-shadow: 0px 0px 17px 1px var(--main-color);
        }
        .Industry .container .box a {
            display: block;
            padding: 10px;
            color: white;
            font-weight: normal;
            transition: var(--main-transtions);
        }
        @media (max-width:768px) {
            .Industry .container .box a {
                font-size: 13px;
            }
        }
        .Industry .container .box a:hover {
            text-decoration: underline;
        }
        .Industry .container .box a.active {
            background: #ffffff0a;
        }

/* End Industry */
/* Start Footer */
        footer {
            padding: 0 0 150px 0;
        }
        footer .container {
            display: flex;
            justify-content: flex-end;
        }
        footer .container a {
            width: fit-content;
            display: block;
            margin-left: 10px;
            font-weight: normal;
            color: white;
            text-decoration: underline;
        }
        footer .container p {
            color: white;
        }
/* End Footer */