* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #1151bb;
  --secondery-color: #395583;
  --Section-background-color: #1b2a4a;
  --dark-color: #121d35;
  --main-transtions: 0.5s;
  --color-of-text: #a9c8f1;
  --Secendry-background-color: #182641;
  --white-color: white;
  --main-padding: 20px;
  --main-margin: 20px;
  --main-font-size: 15px;
}
body {
  font-family: "Cairo", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: var(--Section-background-color);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  box-shadow: 0 0 80px #ddd inset;
}
::-webkit-scrollbar-thumb {
  box-shadow: 68px -36px 223px 1px var(--main-color) inset;
}
.Main-Grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.container {
  margin: 0 auto;
  padding: 0 calc(var(--main-padding) - 10px);
}
/* Start  Madia */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Madia */
/* Start Download  */
.Download {
  padding: calc(var(--main-padding) + 5px) 0;
  background-color: var(--main-color);
}
.Download .container {
  text-align: center;
  font-size: calc(var(--main-font-size) - 2px);
  color: var(--white-color);
}
.Download .container a {
  text-decoration: underline;
  color: var(--white-color);
}
/* End Download  */
/* Start Header */
header {
  background-color: var(--dark-color);
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--main-padding) - 10px) 0;
}
header .container  input,
header .container  ion-icon {
  display: none;
}
header .container .links {
  flex-basis: 80%;
}
header .container .logo {
  display: flex;
}
header .container .logo i {
  font-size: calc(var(--main-font-size) + 15px);
  color: var(--main-color);
  margin-right: calc(var(--main-margin) - 10px);
}
header .container .logo h3 {
  margin-bottom: calc(var(--main-margin) - 15px);
  color: var(--white-color);
}
header .container .logo p {
  font-size: calc(var(--main-font-size) - 3px);
  color: var(--white-color);
}
header .container .links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
header .container .links ul li a {
  color: var(--white-color);
  font-size: calc(var(--main-font-size) + 2px);
  font-weight: bolder;
  position: relative;
}
header .container .links ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--white-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  transition: 0.5s;
}
header .container .links ul li a:hover::after {
  width: calc(100% + 10px);
}
form {
  display: flex;
  align-items: center;
  margin-right: var(--main-margin);
}
form a {
  color: var(--white-color);
  display: flex;
}
form a i {
  margin-left: calc(var(--main-margin) - 13px);
}
form input {
  margin-left: calc(var(--main-margin) - 10px);
  background-color: var(--main-color);
  padding: calc(var(--main-padding) - 10px);
  border: none;
  outline: none;
  color: var(--white-color);
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 991px) {
  header .container .logo {
    padding-left: var(--main-padding);
  }
  header .container  input,
  header .container  ion-icon {
    display: block;
    padding-right: var(--main-padding);
  }
  header .container  ion-icon {
    font-size: calc(var(--main-font-size) + 30px);
    color: var(--white-color);
    cursor: pointer;
  }
  header .container label {
    flex-basis: initial;
    order: 7;
  }
  header .container  input {
    appearance: none;
  }
  header .container .links {
    position: absolute;
    left: -100%;
    top: 129px;
    width: 100%;
    height: calc(100vh - 129px);
    background-color: var(--Section-background-color);
    transition: 0.8s;
    z-index: 99999999999;
    border: 1px solid var(--main-color);
    box-shadow: 68px -36px 223px 1px var(--main-color) inset;
  }
  header .container .links ul {
    flex-direction: column;
    text-align: center;
    justify-content: initial;
    padding: calc(var(--main-padding) + 30px) 0;
  }
  header .container .links ul li {
    margin-bottom: calc(var(--main-margin) - 10px);
    width: 100%;
    padding: calc(var(--main-padding) - 10px) 0;
    background-color: var(--dark-color);
    filter: drop-shadow(0 0 15px var(--main-color));
    transition: var(--main-transtions);
  }
  header .container .links ul li:hover {
    background-color: var(--main-color);
  }
  header .container .links ul li a {
    color: var(--white-color);
  }
  header .container  input:checked ~ .links {
    left: 0;
  }
  form {
    order: 6;
  }
}
@media (max-width: 767px) {
  form {
    display: none;
  }
}
/* End Header */
/* Start Location */
.Location {
  padding: calc(var(--main-padding) - 60px) 0;
}
.Location h1 {
  font-size: calc(var(--main-font-size) + 20px);
  color: var(--white-color);
  text-align: center;
  margin-bottom: var(--main-margin);
}
.Location .container {
  border: 1px solid var(--main-color);
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 68px -36px 223px 1px var(--main-color);
}
.Location .container .box .Header-Of-box {
  width: 100%;
  margin-bottom: calc(var(--main-margin) + 60px);
}
.Location .container .box .Header-Of-box ul {
  display: flex;
  height: 70px;
}
.Location .container .box .Header-Of-box ul li {
  background-color: var(--secondery-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: var(--main-transtions);
  color: var(--white-color);
  cursor: pointer;
}
.Location .container .box .Header-Of-box ul li:hover {
  background-color: var(--main-color);
}
.Location .container .box .Header-Of-box ul li.active {
  background-color: var(--main-color);
}
.Location .container .box .Header-Of-box ul li:not(:first-child) {
  border-left: 1px solid black;
}
.Location .container .box form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--main-margin) + 60px);
}
.Location .container .box form input[type="text"] {
  width: 60%;
  border-radius: 0;
  padding: var(--main-padding);
  background-color: var(--white-color);
  color: black;
  cursor: auto;
  border: none;
  outline: none;
}
.Location .container .box form .icone {
  width: 15%;
  background-color: #f9d856;
  display: flex;
  padding: var(--main-padding);
  cursor: pointer;
  width: fit-content;
}
@media (max-width: 768px) {
  .Location .container .box .Header-Of-box ul li {
    font-size: calc(var(--main-font-size) - 3px);
  }
}
@media (max-width: 575px) {
  .Location .container .box .Header-Of-box {
    height: 300px;
  }
  .Location .container .box .Header-Of-box ul {
    flex-direction: column;
  }
  .Location .container .box .Header-Of-box ul li {
    padding: var(--main-padding);
    margin-bottom: calc(var(--main-margin) - 12px);
  }
}
.Location .container .box .Header-Of-box ul li a {
  color: var(--white-color);
}
.Location .container .box form .icone input {
  background-color: transparent;
  padding: 0;
  color: black;
  margin-right: calc(var(--main-margin) - 10px);
  font-size: calc(var(--main-font-size) + 1px);
}
.Location .container .Select {
  display: flex;
  margin-bottom: calc(var(--main-margin) + 60px);
  justify-content: space-between;
  flex-wrap: wrap;
}
.Location .container .Select .text {
  flex-basis: 28%;
  padding: var(--main-padding);
}
.Location .container .Select .text h3 {
  margin-bottom: var(--main-margin);
  color: var(--white-color);
  font-weight: normal;
  font-size: calc(var(--main-font-size) + 1px);
}
.Location .container .Select .text h3:nth-child(3) {
  color: #f9d856;
  margin-bottom: calc(var(--main-margin) + 20px);
  font-weight: bolder;
}
.Location .container .Select .text p {
  font-size: calc(var(--main-font-size) - 1px);
  color: var(--white-color);
}
.Location .container .Select .form {
  flex-basis: 50%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.Location .container .Select .form input {
  width: 100%;
  height: fit-content;
  padding: calc(var(--main-padding) - 10px) var(--main-padding);
  margin-bottom: var(--main-margin);
  border-radius: 5px;
  border: none;
  outline: none;
}
.Location .container .Select .Map {
  flex-basis: 18%;
  display: flex;
  align-items: center;
}
.Location .container .Select .Map button {
  height: fit-content;
  padding: calc(var(--main-padding) - 8px) calc(var(--main-padding) - 12px);
  background-color: transparent;
  border: 1px solid #ececec;
  outline: none;
  transition: var(--main-transtions);
}
.Location .container .Select .Map button:hover {
  background-color: #39558352;
}
.Location .container .Select .Map button a {
  color: var(--white-color);
  font-size: var(--main-font-size);
}
.Location .container .Select .Map button a i {
  font-size: var(--main-font-size);
  margin-right: calc(var(--main-margin) - 14px);
}
@media (max-width: 768px) {
  .Location .container .Select {
    flex-direction: column;
    text-align: center;
  }
  .Location .container .Select .text {
    flex-basis: 100%;
  }
  .Location .container .Select .form {
    flex-basis: 100%;
    justify-content: center;
  }
  .Location .container .Select .form input {
    width: 90%;
  }
  .Location .container .Select .Map {
    flex-basis: 100%;
    justify-content: center;
  }
}
/* End Location */
/* Start Experience */
.Experience {
  padding: calc(var(--main-padding) + 30px) 0;
}
.Experience .container .box {
  padding-bottom: calc(var(--main-padding) + 30px);
  text-align: center;
}
.Experience .container .box .child-Of-box .icone i {
  margin-bottom: var(--main-margin);
  font-size: calc(var(--main-font-size) + 35px);
  color: var(--main-color);
}
.Experience .container .box .child-Of-box .text h3 {
  color: var(--white-color);
  font-weight: normal;
  font-size: calc(var(--main-font-size) + 10px);
  margin-bottom: var(--main-margin);
}
.Experience .container .box .child-Of-box .text p {
  color: #ffffff82;
  line-height: 1.5;
}
.Experience .container .End-Of-Experience {
  box-shadow: 0px 0px 27px 1px var(--main-color);
  border: 1px solid var(--main-color);
  background-color: var(--Secendry-background-color);
  width: 100%;
  height: 300px;
  text-align: center;
  border-radius: 20px;
  position: relative;
}
.Experience .container .End-Of-Experience .text {
  padding: 0 calc(var(--main-padding) + 20px);
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Experience .container .End-Of-Experience .text q {
  display: block;
  padding-bottom: var(--main-padding);
  font-size: calc(var(--main-font-size) + 5px);
  color: var(--white-color);
}
.Experience .container .End-Of-Experience p {
  color: var(--color-of-text);
}
@media (max-width: 768px) {
  .Experience .container .End-Of-Experience .text q {
    font-size: var(--main-font-size);
    line-height: 1.6;
  }
}
/* End Experience */
/* Start Featured */
.Featured {
  padding: calc(var(--main-padding) + 30px) 0;
  text-align: center;
}
.Featured h3 {
  font-size: calc(var(--main-font-size) + 15px);
  color: var(--white-color);
  margin-bottom: 30px;
}
.Featured .container .box .Child-Of-box {
  background-color: var(--Secendry-background-color);
  border-radius: 10px;
}
.Featured .container .box .Child-Of-box .imge {
  width: 100%;
  margin-bottom: var(--main-margin);
}
.Featured .container .box .Child-Of-box .imge img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.Featured .container .box .Child-Of-box .text {
  padding: 0 var(--main-padding);
}
.Featured .container .box .Child-Of-box .text a {
  display: block;
  color: var(--white-color);
  font-size: calc(var(--main-font-size) + 4px);
  font-weight: normal;
  margin-bottom: var(--main-margin);
}
.Featured .container .box .Child-Of-box .text p {
  color: var(--color-of-text);
  padding: calc(var(--main-padding) - 5px);
  line-height: 1.6;
}
/* End Featured */
/* Start Industry */
.Industry {
  padding: calc(var(--main-padding) + 30px) 0;
}
.Industry .container {
  border-bottom: 1px solid var(--white-color);
}
.Industry .container h3 {
  margin: calc(var(--main-margin) + 20px) 0;
  color: var(--white-color);
  font-weight: normal;
  text-align: center;
  font-size: calc(var(--main-font-size) + 10px);
}
.Industry .container .box {
  border: 1px solid var(--main-color);
  background-color: var(--Secendry-background-color);
  padding: calc(var(--main-padding) - 5px);
  margin-bottom: calc(var(--main-margin) + 80px);
  box-shadow: 0px 0px 17px 1px var(--main-color);
}
.Industry .container .box a {
  display: block;
  padding: calc(var(--main-padding) - 10px);
  color: var(--white-color);
  font-weight: normal;
  transition: var(--main-transtions);
}
@media (max-width: 768px) {
  .Industry .container .box a {
    font-size: calc(var(--main-font-size) - 2px);
  }
}
.Industry .container .box a:hover {
  text-decoration: underline;
}
.Industry .container .box a.active {
  background: #ffffff0a;
}

/* End Industry */
/* Start Footer */
footer {
  padding: 0 0 150px 0;
}
footer .container {
  display: flex;
  justify-content: flex-end;
}
footer .container a {
  width: fit-content;
  display: block;
  margin-left: calc(var(--main-margin) - 10px);
  font-weight: normal;
  color: var(--white-color);
  text-decoration: underline;
}
footer .container p {
  color: var(--white-color);
}
/* End Footer */
